
.dashboard--container {
	width: 100vw;
	height: calc(100vh - 70px);
	background:#fafafa;
	margin-top: 70px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
}

.dashboard--sideBar--wrap {
	width: 280px;
	height: 100%;
}

.dashboard--mainArea--wrap {
	flex: 1;
}

/* =======================scroller================== */
/* width */
.dashboard--container::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.dashboard--container::-webkit-scrollbar-track {
  background:#c0c0c010;
}

/* Handle */
.dashboard--container::-webkit-scrollbar-thumb {
  background: #979797 !important;
  transition: 300ms;
}

/* Handle on hover */
.dashboard--container::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
/* =======================scroller================== */
