
.home--pricing--container {
	padding: 100px 40px;
	width: calc(100% - 80px);
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
}

.home--pricing--heading h2 {
	font-weight: 500;
	font-size: 32px;
	color: var( --dark);
}

.home--pricing {
	display: flex;
	padding: 40px 0;
}

.home--pricing--box {
	padding: 50px 30px;
	width: 200px;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	cursor: pointer;
	transition: 300ms;
}

.home--pricing--box:hover {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.home--pricing--box--heading h6 {
	font-weight: 500;
	font-size: 22px;
	text-align: center;
}

.home--pricing--box--heading p {
	margin-top: 5px;
	font-size: 14px;
}

.home--pricing--box--info {
	text-align: center;
	margin-top: 30px;
}

.home--pricing--box--info p {
	padding: 3px 0;
	font-size: 15px;
	color: #3d3d3d;
}

.home--pricing--box--button button {
	background: #532bd9;
	margin-top: 30px;
	border: none;
	border-radius: 25px;
	width: 150px;
	padding: 15px 0;
	font-size: 16px;
	font-weight: 500;
	color: #fafafa;
	transition: 200ms;
	cursor: pointer;
}

.home--pricing--box--button button:hover {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
	transform: scale(1.01);
}













