
.home--service--container {
	padding: 100px 40px;
	width: calc(100% - 80px);
	max-width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #fff9ff;
}

.home--service--heading {
	width: 480px;
}

.home--service--heading h2 {
	font-weight: 700;
	font-size: 36px;
	color: var( --dark);
}

.home--service--subHeading p {
	margin-top: 15px;
	font-weight: 700;
	font-size: 22px;
	width: 500px;
	text-align: left;
	color: #3b3b3b;
}

.home--service--image img {
	width: 450px;
}

